header{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 1rem;
}

body{
    background-color: #e6d17a;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

h1, h2, h3, p{
    padding-left: 1rem;
}

.mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mobiles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

footer>img{
    display: inline-block;
    margin-top: 1rem;
}

img{
    max-width: 100%;
}

.click{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f2c657;
    width: 25rem;
    border: black;
    border-style: solid;
    border-width: medium;
    margin: auto;
}

.click:hover{
    color: white;
    background-color: #988a6a;
    border-color: black;
}

.kits{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.item1, .item2, .item3, .item4, .item5, .item6, .item7, .item8, .item9{
    padding-top: 3.5rem;
}

.desktop_left, .desktop_right{
    display: none;
}

.contact, .socials{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.socials{
    padding-right: 2rem;
}

.more{
    padding-top: .6rem;
    padding-bottom: .6rem;
    padding-left: .9rem;
    padding-right: .9rem;
    background-color: #988a6a;
    color: black;
    text-decoration: none;
    float: right;
    border-radius: 5px;
    border-color: transparent;
    border-width: medium;
    border-style: solid;
}

.more:hover{
    color: black;
    background-color: #f2c657;
    border-color: white;
}

.mores{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

nav>a, h1, h2, a{
    color: black;
    text-decoration: none;
}

.about>p{
    padding-left: 3rem;
}

.about>h1, .about>h2, .about>img{
    padding-left: 1rem;
}

.bundle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f2c657;
    width: 25rem;
    border: black;
    border-style: solid;
    border-width: medium;
}

.pair{
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.new>img{
    display: none;
}

.bundle:hover{
    color: white;
    background-color: #988a6a;
    border-color: black;
}

.logo2{
    display: none;
}

.fair{
    padding-left: 1rem;
}

.meet, .seller{
    padding-left: 2rem;
}

.socials>a{
    display: flex;
    align-items: center;
}





@media (min-width: 1200px){

.desktop_left, .desktop_right{
    display: flex;
    align-items: center;
    border-bottom: .2rem solid black;
    padding: 0 0 2rem 0;
}

.desktop{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.logo2{
    display: block;
    background-color: whitesmoke;
    border-radius: 75px;
    padding: 1rem 2rem 0 2rem;
}

header{
    background-color: #e6d17a;
    margin-bottom: 1rem;
}

.mobiles{
    display: none;
}

nav>a{
    padding: 0 8rem 0 5rem;
}

.meet{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.events{
    display: flex;
    flex-direction: column-reverse;
}

.fairs_left{
    display: inline-block;
    width: 40%;
    vertical-align: text-top;
    padding-bottom: 2rem;
}

.fairs_right{
    display: inline-block;
    width: 40%;
    vertical-align: text-top;
    padding-top: 2rem;
}

.kits{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 4rem;
    padding: 2.5rem;
    text-align: center;
}

.item1{
    grid-area: 1/1/2/2;
    align-self: center;
}

.item2{
    grid-area: 1/2/2/3;
    align-self: center;
}

.item3{
    grid-area: 1/3/2/4;
    align-self: center;
}

.item4{
    grid-area: 2/1/3/2;
    align-self: center;
}

.item5{
    grid-area: 2/2/3/3;
    align-self: center;
}

.item6{
    grid-area: 2/3/3/4;
    align-self: center;
}

.item7{
    grid-area: 3/1/4/2;
    align-self: center;
}

.item8{
    grid-area: 3/2/4/3;
    align-self: center;
}

.item9{
    grid-area: 3/3/4/4;
    align-self: center;
}

.bundles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 1rem;
    padding: 2rem;
}

.bundle9{
    grid-area: 1/1/2/2;
    align-self: center;
}

.bundle1{
    grid-area: 1/2/2/3;
    align-self: center;
}

.bundle2{
    grid-area: 2/1/3/2;
    align-self: center;
}

.bundle3{
    grid-area: 2/2/3/3;
    align-self: center;
}

.bundle4{
    grid-area: 3/1/4/2;
    align-self: center;
}

.bundle5{
    grid-area: 3/2/4/3;
    align-self: center;
}

.bundle6{
    grid-area: 4/1/5/2;
    align-self: center;
}

.bundle7{
    grid-area: 4/2/5/3;
    align-self: center;
}

.column_left{
    display: inline-block;
    width: 48%;
    vertical-align: text-top;
    padding-left: 2%;
}

.column_right{
    display: inline-block;
    width: 48%;
    vertical-align: text-top;
}

.foot{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    padding-top: 0.5rem;
}


.contact>p{
    padding-right: 5rem;
    padding-left: 5rem;
}

.socials>a{
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
}

.upcoming{
    padding-top: 3.5rem;
}

nav>a:hover{
    color: white;
}

.seller{
    display: inline-block;
    width: 20%;
    vertical-align: text-top;
    padding-bottom: 1rem;
}

.meet{
    display: inline-block;
    width: 35%;
    padding-left: 5rem;
    padding-top: 15rem;
    vertical-align: text-top;
}

}